.container-botao {
    display: flex;
    justify-content: space-between;
}

.botao {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.botao:hover {
    zoom: 1.15;
}

.botao-esqueda {
    margin-right: 10px;
}

.botao-direita {
    margin-left: 10px;
}

.botao-excluir-item {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;    
}