@import 'modal.css';
@import 'botoes.css';
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

html, body {
    background-color: black;
    border: 0;
}

.nav-superior {
    height: 80px;
    width: 100%;
    background-color: green;
    padding: 0 20px;
    display:flex;
    align-items: center;
}

.nav-principal {
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

}

.link-contato {
    color: white;
    cursor: pointer;
    font-size: 28px;

}

.nav-principal h1 {
    color: white;
    font-size: 38px;
}

.container-formulario {
    padding: 40px 20px;
    width: 100%;
}

.card-formulario {
    max-width: 600px;
    width: 100%;
    background-color: #444;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

.formulario-contato {
    margin-bottom: 20px;

}

.formulario-contato label {
    display: none;
}

.mensagem-erro {
    margin-top: 8px;
    color: #ff6961;
}

.input-formulario {
    width:100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    border: 1.5px solid black;
}

.input-formulario::placeholder {
    color: #c9c9c9;
}

.input-formulario:disabled {
        background-color: #ddd;
}

.container-botao {
    display: flex;
    justify-content: space-between;
}

.card-item-lista {
    background-color: #333;
    color: white;
    margin-bottom: 20px;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.container-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-item-lista h4 {
    color:green;
    font-weight: 700;
    font-size: 20px;

}

.linha-logradouro {
    color: #fff;
    font-size: 15px;
}

.linha-cep {
    color: #8f8f8f;
    font-size: 18px;
}